#captchaImg {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

#boutonConnexion {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

.containerConnexion {
    background-image: url("../img/ssbu_logo_low_opacity.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connexion {
    background-color: #c2c2c2;
    text-align: center;
    width: 300px;
    box-shadow: 5px 5px 50px 5px #000000;
    padding: 2rem;
    border-radius: 10px;
    line-height: 2.5;
}