body {
    overflow-x: hidden;

}

.joueur-container {
    background-image: url("../img/kirby.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    flex-grow: 1;
}

.container-enregistrement {
    margin: 0 auto;
    display: flex;
    background-color: #E0E0E0;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    padding: 5%;
    border-radius: 10px;
    line-height: 2;
}

.retour-menu {
    margin-left: 5%;
    font-size: 60px;
    font-family: 'Montserrat';
    font-weight: bolder;
    color: black;
}

.retour-menu img:hover, .retour-menu:hover {
    transform: scale(1.01);
    transform-origin: top left;
}

@media (max-width: 768px) {
    .retour-menu {
        display: flex;
        justify-content: center;
    }
}

.fleche {
    height: 40px;
    width: auto;
    margin-left: 5px;
}

.choix-manette input {
    display: none;
}

.bouton-radio img {
    width: 40px;
}

.choix-manette input:checked + .bouton-radio {
    background-color: white;
    transform: scale(1.02);
    font-weight: bolder;
}

.bouton-radio {
    border-radius: 20px;
    width: 35%;
    height: fit-content;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    height: 80px;
}

.bouton-radio p {
    line-height: 1;
    font-family: 'Montserrat';
}