body {
    overflow-x: hidden;
}

.joueur-container {
    background-image: url("../img/kirby.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    flex-grow: 1;
}

.container-enregistrement {
    margin: 0 auto;
    background-color: #E0E0E0;
    width: 300px;
    padding: 5%;
    border-radius: 10px;
}

.choix-manette input {
    display: none;
}

.bouton-radio img {
    width: 40px;
}

.choix-manette input:checked+.bouton-radio {
    background-color: rgb(240, 240, 240);
    font-weight: bolder;
    border: solid black;
}

.bouton-radio {
    border-radius: 20px;
    width: 110px;
    height: fit-content;
    background-color: #CECECE;
    padding: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    height: 80px;
}

.bouton-radio:hover {
    background-color: #d4d4d4;
}

.bouton-radio p {
    line-height: 1;
    font-family: 'Montserrat';
}

.container-bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.submit-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

#submit-joueur {
    margin-top: 30px;
    width: auto;
    padding-inline: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}