.menu-container {
    margin: 0 auto;
    display: flex;
    gap: 45px;
    background-color: #F0F0F0;
    padding: 30px;
    border-radius: 10px;
    max-width: 70%;
    flex-wrap: wrap;
    justify-content: center;

}

.container-menu {
    background-image: url("../img/Smash_Ball_transparent.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    flex-grow: 1;
}

.menu-items {
    font-family: 'Montserrat';
    text-align: center;
    background-color: #202020;
    padding: 8px;
    border-radius: 8px;
    transition: transform 0.2s;
}

.menu-items p {
    color: white;
    font-weight: bolder;
}

.menu-items img {
    width: 250px;
    height: 225px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.menu-items:hover {
    transform: scale(1.05);
    background-color: rgb(233, 16, 4);
}